/* Basic CSS for the Web Page as a whole */
html{
	background-color: MidnightBlue;
	color: white;
	max-width: 1200px;
	padding: 5px;
	margin: auto;
	
	background-image: url("backgroundImage1.jpg");
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	background-size: cover;
}

#header, #mainContent, #navCol{
	border: 2px solid yellowgreen;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
}
hr{
	border: 1px solid yellowgreen;
}
#mainContent, #navCol{
	text-shadow: 0px 0px  5px aqua;
}

#header{
	margin: auto;
	margin-bottom: 20px;
	height: 10vh;
}
#navCol{
	width: 30%;
	float: left;
	font-size: 70%;
}
#mainContent{
	margin-left: 38%;
	min-height: 1000px;
	padding-bottom: 20px;
	font-size: 90%;
}


/* Specific CSS for the Header and its contents */
#header{
	text-align: center;
}
#headerText{
	/* font-size: 50pt; */
	font-size: 8vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 0px 3px aqua;
}
#subHeader{
	color: rgba(255, 255, 255, 0.7);
	/* font-size: 10pt; */
	font-size: 2.5vw;
	display: block;
	/* margin-top: 25px; */
	/* margin-left: 1090px; */
	font-style: italic;
	font-family: monospace;
}

/* Specific CSS for the Navigation Column and its contents */
#navCol{
	position: sticky;
	top: 10px;
}
.navcolHeader{
	font-weight: bold;
	/* font-size: 13pt; */
	font-size: 3.5vw;
}
#twitterLink{
	color: cyan;
}
#twitterLink:hover{	
	background-image:linear-gradient(to right, blue, rgba(0, 0, 0, 0.0));
	border-left: 1px solid cyan;
}
#githubLink{
	color: lime;
}
#githubLink:hover{
	background-image:linear-gradient(to right, green, rgba(0, 0, 0, 0.0));
	border-left: 1px solid lime;
}
.links{
	padding-left: 10px;
}
.links, a{
	/* width: 150px; */
	height: 20px;
	background: none;
	color: white;
	font-size: 3vw;
	text-decoration: none;
}
.links:hover{
	font-style: italic;
	cursor: pointer;
	padding-left: 10%;
	border-left: 1px solid aqua;
	font-weight: bold;
	
	background-image: linear-gradient(to right, teal, rgba(0, 128, 128, 0.0));
	/* text-shadow: 0px 0px 2px black; */
}
/* Specific CSS for the body (main content) of the webpage */
#mainContent{
	padding-left: 20px;
	padding-right: 20px;
}
.content{
	padding-left: 20px;
	text-indent: 30px;
}
.finished{
	text-decoration: line-through;
}
