/*
Brendon Busic
Personal Project - Liar's Dice (CSS Styling Code)
Start Date: 10/24/2017
Finsih Date: 10/??/2017 - Beta 1.4
*/

/*Pop-Up window code for Rules*/
	.ruleWindow{
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
	}
	.ruleWindow-content{
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		width:600px;
		border: 1px solid #888;
		text-align: left;
	}
	.closeRules{
		float: right;
		color: black;
		font-size: 20pt;
		text-shadow: 0px 0px 2px red;
	}
	.closeRules:hover, .closeRules:focus{
		text-decoration: none;
		cursor: pointer;
		color: red;
		text-shadow: 0px 0px 5px black;
	}

/*Pop-Up window for Version History*/
	.versionWindow{
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
	}
	.versionWindow-content{
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 400px;
		text-align: left;
	}
	.closeVersion{
		float: right;
		color: black;
		font-size: 20pt;
		text-shadow: 0px 0px 2px red;
	}
	.closeVersion:hover, .closeVersion:focus{
		text-decoration: none;
		cursor: pointer;
		color: red;
		text-shadow: 0px 0px 5px black;
	}


#license{
	font-size:10pt;
	opacity:0.5;
}
	
html{
	text-align: center;
	padding:5px;
	min-width: 492px;
	margin: 0 auto;
}
#buttonMenu1, #buttonMenu2{
	text-align:center;
	display: inline-block;
}
#score{
	text-align: left;
}
table{
	margin:5px;
	background: white;
	float:left;
	border-width: 0px;
	border-collapse: collapse;
	text-align:center;
	width:180px;
}
#topPort{
	text-align: center;
	display:inline-block;
	padding: 5px;
	border-style: ridge;
	width:450px;
	height: 375px;
}
#buttonMenu1{
	display: block;
	float: left;
	padding-left: 15px;
	border:none;
	width: 100px;
	text-align:center;
}
#buttonMenu2{
	display: block;
	float:right;
	width: 100px;
	border: none;
	padding-right: 15px;
	text-align:center;
}
#message{
	text-align: center;
	font-style: italic;
	font-size: 11pt;
}
#col1{
	width: 65px;
}
input[type=button]{
	border-radius: 10px;
	border-style: outset;
}
input[type=button]:hover{
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}
#rules, #newGame{
	border-style:outset;
}

img{
	max-width: 92px;
	height: auto;
}
